# Auto detect text files and perform LF normalization
* text=auto

# C# and XAML files
*.cs text eol=crlf
*.xaml text eol=crlf

# Binary files (images, etc.)
*.png binary
*.ico binary

*.ps1 text eol=crlf
*.bat text eol=crlf